<h2>スキル</h2>
<div class="dog-skill-1 row">
  <div class="dog-skill col-3">
    <div class="skill">
      <p>お散歩</p>
      <p><%= @dog.walking %></p>
    </div>
  </div>
  <div class="dog-skill col-3">
    <div class="skill">
      <p>お留守番</p>
      <p><%= @dog.caretaker %></p>
    </div>
  </div>
  <div class="dog-skill col-3">
    <div class="skill">
      <p>犬との関わり</p>
      <p><%= @dog.relationship_dog %></p>
    </div>
  </div>
  <div class="dog-skill col-3">
    <div class="skill">
      <p>人との関わり</p>
      <p><%= @dog.relationship_people %></p>
    </div>
  </div>
</div>