<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<h1>Dogs#index</h1>
<p>Find me in app/views/dogs/index.html.erb</p>
<% if @dogs.present? %>
  <% @dogs.each do |dog| %>
    <p>名前 : <%= dog.name %></p>
    <%= image_tag dog.image.variant(combine_options:{gravity: :center, resize:"200x200^", crop:"200x200+0+0"}).processed %>
  <% end %>
<% end %>
