<div class="devise">
  <div class="devise-container devise-edit-container">
    <div class="devise-edit">
      <%= render "protectors/registrations/edit_form", protector: @protector %>
    </div>
    <div class="account-cancel">
      <h4>アカウントを削除する</h4>
      <%= button_to "削除", protector_registration_path, data: { confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-outline-dark" %>
    </div>
    <%= link_to "戻る", :back %>
  </div>
</div>