<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#user-follow">
  <p>フォロー<span><%= relationships.count %></span>人</p>
</button>
<div class="modal fade" id="user-follow" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-sm follow-modal" role="document">
    <div class="modal-content container follow-container">
      <% user.protectors.each do |protector| %>
        <div class="follow-info row">
          <div class="follow-img col-3">
            <%= image_tag protector.image.variant(combine_options:{gravity: :center, resize:"40x40^", crop:"40x40+0+0"}).processed %>
          </div>
          <div class="follow-name col-9">
            <%= link_to protector_path(protector) do %>
              <p><%= protector.name %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>