<div class="home">
  <div class="main-bg">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="home-explanation">
    <div class="ex-top">
      <h3>W/Dog</h3>
      <p>現在、コロナの影響で譲渡会の開催が減少し</p>
      <p>保護犬と出会う機会は減少しています。</p>
      <p>こんなご時世でも保護犬と出会って欲しい。</p>
      <p>なるべく普段の保護犬の姿を知って欲しい。</p>
      <p>安心して保護犬を迎えて欲しい。</p>
      <p>１頭でも多く保護犬が幸せになって欲しい。</p>
      <p>そんな想いでWith Dogというサイトを作りました。</p>
    </div>
  </div>
</div>