<div class="home">
  <div class="main-bg">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="home-explanation">
    <div class="ex-top">
      <h3>W/Dog</h3>
      <p>現在、コロナの影響で譲渡会の開催が減少し</p>
      <p>保護犬と出会う機会は減少しています。</p>
      <p>こんなご時世でも保護犬と出会って欲しい。</p>
      <p>なるべく普段の保護犬の姿を知って欲しい。</p>
      <p>安心して保護犬を迎えて欲しい。</p>
      <p>１頭でも多く保護犬が幸せになって欲しい。</p>
      <p>そんな想いでWith Dogというサイトを作りました。</p>
    </div>
  </div>
  <% unless user_signed_in? || protector_signed_in? %>
    <div class="home-logins container">
      <div class="row">
        <div class="home-login col-6">
          <%= link_to new_user_registration_path, class: "btn btn-outline-dark home-login-u" do %>
            <div class="home-login-inside">
              <h4>里親希望者</h4>
              <p>保護犬のお気に入り登録や</p>
              <p>保護活動家をフォロー、</p>
              <p>保護活動家と連絡が取れます。</p>
            </div>
          <% end %>
        </div>
        <div class="home-login col-6">
          <%= link_to new_protector_registration_path, class: "btn btn-outline-dark home-login-p" do %>
            <div class="home-login-inside">
              <h4>保護活動家</h4>
              <p>保護犬の登録や</p>
              <p>イベントの登録、</p>
              <p>里親希望者と連絡が取れます。</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>