<% provide(:title, "メッセージ一覧") %>
<div class="dm-index-all">
  <div class="dm-index container">
    <div class="dm-index-top">
      <h2>トークルーム一覧</h2>
    </div>
    <div class="dm-index-partner row">
      <%= render 'rooms/room_index', entries: @entries %>
    </div>
  </div>
</div>