<div class="modal-dialog modal-lg">
  <div class="modal-content container modal-container">
      <div class="row">
        <div class="post-show-img col-6 ">
          <%= image_tag @post.image.variant(combine_options:{gravity: :center, resize:"500x500^", crop:"500x500+0+0"}).processed, class: "img-fluid" %>
        </div>
        <div class="post-modal col-6">
          <p class="float-left"><%= l @post.created_at, format: :short %></p>
          <%= link_to dog_post_path(@dog, @post), data: { confirm: "本当に削除しますか?" }, method: :delete, class: "float-right" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          <p class="post-modal-content"><%= @post.content %></p>
        </div>
      </div>
  </div>
</div>
