// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ebc94e;
}
li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
div,
p {
  margin: 0;
}
.notice {
  margin-top: 85px;
}
/* header */
nav {
  background-color: rgba(255, 255, 255, 0.7);
}
/* home */
.main-bg {
  background-image: url(home.jpg);
  background-size: cover;
  height: 1000px;
}
.home-explanation {
  background-color: #efefef;
}
.ex-top {
  text-align: center;
  padding: 80px;
  font-weight: bold;
}
/* devise */
.devise-container {
  width: 450px;
  margin: 0 auto;
  p {
    padding-bottom: 20px;
  }
}
.sign-in,
.sign-up,
.sign-link,
.devise-edit,
.account-cancel {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.sign-in,
.sign-link,
.account-cancel {
  text-align: center;
}
.sign-in,
.sign-up,
.devise-edit {
  margin-bottom: 50px;
}
.mandatory {
  background: linear-gradient(transparent 75%, #ff9393 75%);
  font-weight: bold;
  margin-left: 5px;
}
.sign-link {
  margin-bottom: 100px;
}
/* login */
.sign-in {
  h3 {
    padding-bottom: 10px;
  }
  .field {
    padding-bottom: 10px;
  }
  .actions {
    padding-bottom: 10px;
  }
}
/* sign_up */
.sign-up,
.devise-edit {
  .field {
    padding-bottom: 10px;
    border-bottom: dotted 2px black;
    margin-bottom: 10px;
  }
  .actions,
  h3 {
    text-align: center;
    padding-bottom: 10px;
  }
}
/* sign_up, edit */
.sign-up-field,
.edit-field {
  width: 100%;
}
/*devise_edit*/
.edit-image {
  text-align: center;
}
.edit-image {
  img {
    border-radius: 50%;
    margin-bottom: 10px;
  }
}
.account-cancel {
  margin-bottom: 20px;
}

/* dog */
.dogs_index {
  text-align: center;
  width: 80%;
  padding: 10px;
  border: dotted 1px black;
  img {
    border-radius: 50%;
    padding-bottom: 10px;
  }
}

.dog-img {
  border-bottom: dotted 1px black;
}
