// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ebc94e;
}
li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
div,
p {
  margin: 0;
}
.notice {
  margin-top: 85px;
}
.image-file-select {
  input {
    overflow: hidden;
  }
}
/* header */
nav {
  background-color: rgba(255, 255, 255, 0.7);
}
.head-right {
  li {
    padding: 0 10px 0 10px;
  }
}
.head-icon {
  text-align: center;
  margin-top: 8px;
  i {
    color: black;
  }
  p {
    font-size: 10px;
    color: black;
  }
}
.head-img img {
  border-radius: 50%;
}
.head-img-link::after {
  display: none;
}
/* home */
.main-bg {
  background-image: url(home.jpg);
  background-size: cover;
  height: 1000px;
}
.home-explanation {
  background-color: #efefef;
}
.ex-top {
  text-align: center;
  padding: 80px;
  font-weight: bold;
}
/* all edit*/
.image-file {
  text-align: center;
  input {
    width: 300px;
  }
}
/* devise */
.devise-container {
  width: 60%;
  margin: 0 auto;
  p {
    padding-bottom: 20px;
  }
}
.sign-in,
.sign-up,
.sign-link,
.devise-edit,
.account-cancel {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.sign-in,
.sign-link,
.account-cancel {
  text-align: center;
}
.sign-in,
.sign-up,
.devise-edit {
  margin-bottom: 50px;
}
.mandatory {
  background: linear-gradient(transparent 75%, #ff9393 75%);
  font-weight: bold;
  margin-left: 5px;
}
.sign-link {
  margin-bottom: 100px;
}
/* login */
.sign-in {
  h3 {
    padding-bottom: 10px;
  }
  .field {
    padding-bottom: 10px;
  }
  .actions {
    padding-bottom: 10px;
  }
}
/* sign_up */
.sign-up,
.devise-edit {
  .field {
    padding-bottom: 10px;
    border-bottom: dotted 2px black;
    margin-bottom: 10px;
  }
  .actions,
  h3 {
    text-align: center;
    padding-bottom: 10px;
  }
}
/* sign_up, edit */
.sign-up-field,
.edit-field {
  width: 100%;
}
/*devise_edit*/
.devise-edit-container {
  margin-top: 150px;
}
.edit-image {
  text-align: center;
}
.edit-image {
  img {
    border-radius: 50%;
    margin-bottom: 10px;
  }
}
.account-cancel {
  margin-bottom: 20px;
}
/* user_show protector_show */
.user-pet-top,
.protector-dog-top {
  margin-bottom: 50px;
}
.user-pet-title {
  padding-left: 150px;
}
.pet-icon {
  color: black;
}
.pet-box {
  border: solid 1px black;
  border-radius: 10px;
}
.pet-post,
.dog-post {
  margin-bottom: 20px;
}
.pet-img {
  text-align: center;
  margin: 20px 0 20px 0;
  img {
    border-radius: 50%;
  }
}
.pet-info {
  width: 80%;
  margin: auto;
  p {
    margin-bottom: 10px;
  }
}
.pet-info-1 {
  text-align: center;
  p {
    border-bottom: dotted 2px black;
  }
}
.pet-info-2 {
  padding: 1px;
  border: dashed 2px black;
  border-radius: 8px;
  margin-bottom: 10px;
  p {
    height: 80px;
    overflow: scroll;
  }
}
.pet-current {
  width: 80%;
  margin: auto;
  i {
    padding-left: 5px;
  }
}
.empty {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  border: dotted 1px black;
  border-radius: 20px;
  p {
    padding-top: 35px;
  }
}
.user-follow > button {
  border-bottom: dotted 1px black;
}
.favorite-show > a {
  color: black;
  border-bottom: dotted 1px black;
  padding-bottom: 10px;
  line-height: 38px;
}
/* pet modal */
.pet-new,
.pet-edit {
  padding: 20px;
}
.pet-new-top {
  text-align: center;
}
.pet-field {
  margin-bottom: 20px;
}
.pet-chara-field {
  textarea {
    width: 100%;
  }
}
/* follow_modal like_modal*/
.follow-modal,
.like-modal {
  height: 400px;
  background-color: #efefef;
  border-radius: 10px;
  overflow: scroll;
}
.follow-container,
.like-container {
  background-color: #efefef;
  border: none;
  padding: 20px;
}
.follow-info,
.like-info {
  padding-bottom: 10px;
  border-bottom: dotted 1px black;
  margin-bottom: 5px;
}
/* dog index*/
.dog-index-top {
  margin-bottom: 30px;
}
.search-top {
  margin-bottom: 10px;
  button {
    padding: 4px 12px 8px 12px;
  }
}
.search-result {
  padding-left: 20px;
}
.search-form {
  background-color: #efefef;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}
.search-submit {
  text-align: center;
  line-height: 56px;
}
.dogs_index {
  text-align: center;
  width: 80%;
  padding: 10px;
  border: dotted 1px black;
  img {
    border-radius: 50%;
    padding-bottom: 10px;
  }
}
.dog-img {
  border-bottom: dotted 1px black;
}
.dog-width {
  margin: 0 auto;
}
.dog-page {
  background-color: #ebc94e;
  text-align: center;
}
.pagination {
  display: inline-block;
  li {
    float: left;
  }
}
.pagination > li > a {
  border: none;
  color: #696969;
}
.pagination > .active > a {
  border-radius: 15px;
  background-color: black !important;
}
.pagination > li > a:hover {
  border-radius: 15px;
}
/* dog_show user_show protector_show*/
.dog-show-top,
.user-show-top,
.protector-show-top {
  margin-bottom: 20px;
}
.dog-show-img,
.user-show-img,
.protector-show-img {
  text-align: center;
  img {
    border-radius: 50%;
  }
}
.dog-right-1,
.user-right-1,
.protector-right-1 {
  display: flex;
  margin-bottom: 20px;
}
.dog-top-link,
.user-edit-link,
.protector-edit-link {
  padding-top: 5px;
}
.dog-destroy-btn {
  padding-top: 3px;
}
.dog-show-info,
.user-show-info,
.protector-show-info {
  border-bottom: dotted 1px black;
  margin-bottom: 10px;
}
.dog-show-profile,
.dog-show-skill,
.dog-show-health,
.dog-show-application,
.user-show-profile,
.protector-show-profile {
  margin-bottom: 50px;
}
.profile-text,
.health-text,
.condition-text {
  width: 60%;
  margin: auto;
  text-align: center;
  border: dotted 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}
.dog-show-skill,
.dog-show-health,
.dog-show-application {
  h2 {
    margin-bottom: 20px;
  }
}
.skill,
.health,
.application {
  text-align: center;
  width: 80%;
  margin: 0auto;
  border: dotted 1px black;
  border-radius: 50%;
  padding: 10px;
}
.dog-posts {
  margin-bottom: 50px;
}
.dog-show-protector {
  border: dotted 1px black;
}
.dog-protector {
  display: flex;
}
.dog-show-protector {
  width: 80%;
  margin: auto;
}
.dog-show-protector-info {
  padding: 5px 20px 5px 20px;
}
.dog-post-link {
  text-align: center;
}
.dog-post-top {
  margin-bottom: 20px;
}
.fa-camera-retro {
  color: black;
}
.post-image {
  margin-bottom: 30px;
}
/*dog new edit */
.dogs-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
}
.dog-new,
.dog-edit {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.dog-button,
.post-button {
  text-align: center;
}
.dog-edit {
  .field {
    border-bottom: dotted 2px black;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
/* post new */
.posts-container {
  width: 50%;
  margin: 0 auto;
}
.post-new {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
}
.post-field {
  margin-bottom: 20px;
  label {
  }
  textarea {
    width: 100%;
    height: 100px;
  }
}
/*post show*/
.modal-dialog,
.post-modal-content {
  margin-top: 100px;
}
.modal-container {
  padding-left: 0;
  overflow: scroll;
}
.post-modal {
  padding-top: 10px;
}
.post-modal-content {
  padding-top: 30px;
}
.fa-trash-alt {
  color: black;
}
/*favorite_index*/
.dog-like-show {
  margin-top: 150px;
}
.dog-favorite-top {
  margin-bottom: 50px;
}
/*rooms_show*/
.dm {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  padding: 0 10px 70px 10px;
}
.dm-top {
  text-align: center;
  margin: 0 20px 20px 20px;
  padding-bottom: 20px;
  border-bottom: dotted 1px black;
  a {
    color: black;
    img {
      border-radius: 50%;
    }
  }
}
.message {
  margin-bottom: 10px;
}
.protector-message {
  width: 50%;
  margin-left: 50%;
  border-bottom: dotted 1px black;
}
.user-message {
  width: 50%;
  border-bottom: dotted 1px black;
}
.dm-content {
  max-height: 100px;
  overflow: scroll;
}
.dm-image {
  text-align: right;
  img {
    border-radius: 50%;
  }
}
.dm-footer {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 20px 0;
  background: white;
}
/* room_index */
.dm-index {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  padding-top: 50px;
  margin-top: 85px;
}
.dm-index-top,
.partner {
  text-align: center;
  margin-bottom: 30px;
}
.partner-img > img {
  border-radius: 50%;
}
.partner-name {
  color: black;
}
