// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ebc94e;
}
li {
  list-style: none;
}
a:hover {
  text-decoration: none;
}
div,
p {
  margin: 0;
}
.notice {
  margin-top: 85px;
}
/* header */
nav {
  background-color: rgba(255, 255, 255, 0.7);
}
/* home */
.main-bg {
  background-image: url(home.jpg);
  background-size: cover;
  height: 1000px;
}
.home-explanation {
  background-color: #efefef;
}
.ex-top {
  text-align: center;
  padding: 80px;
  font-weight: bold;
}
/* all edit*/
.image-file {
  text-align: center;
  input {
    width: 300px;
  }
}
/* devise */
.devise-container {
  width: 60%;
  margin: 0 auto;
  p {
    padding-bottom: 20px;
  }
}
.sign-in,
.sign-up,
.sign-link,
.devise-edit,
.account-cancel {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.sign-in,
.sign-link,
.account-cancel {
  text-align: center;
}
.sign-in,
.sign-up,
.devise-edit {
  margin-bottom: 50px;
}
.mandatory {
  background: linear-gradient(transparent 75%, #ff9393 75%);
  font-weight: bold;
  margin-left: 5px;
}
.sign-link {
  margin-bottom: 100px;
}
/* login */
.sign-in {
  h3 {
    padding-bottom: 10px;
  }
  .field {
    padding-bottom: 10px;
  }
  .actions {
    padding-bottom: 10px;
  }
}
/* sign_up */
.sign-up,
.devise-edit {
  .field {
    padding-bottom: 10px;
    border-bottom: dotted 2px black;
    margin-bottom: 10px;
  }
  .actions,
  h3 {
    text-align: center;
    padding-bottom: 10px;
  }
}
/* sign_up, edit */
.sign-up-field,
.edit-field {
  width: 100%;
}
/*devise_edit*/
.devise-edit-container {
  margin-top: 150px;
}
.edit-image {
  text-align: center;
}
.edit-image {
  img {
    border-radius: 50%;
    margin-bottom: 10px;
  }
}
.account-cancel {
  margin-bottom: 20px;
}
/* dog index*/
.dogs_index {
  text-align: center;
  width: 80%;
  padding: 10px;
  border: dotted 1px black;
  img {
    border-radius: 50%;
    padding-bottom: 10px;
  }
}
.dog-img {
  border-bottom: dotted 1px black;
}
/* dog show */
.dog-show-top {
  margin-bottom: 20px;
}
.dog-show-img {
  text-align: center;
  img {
    border-radius: 50%;
  }
}
.dog-right-1 {
  display: flex;
  margin-bottom: 20px;
}
.dog-edit-link {
  padding-top: 5px;
}
.dog-show-info {
  border-bottom: dotted 1px black;
  margin-bottom: 10px;
}
.dog-show-profile,
.dog-show-skill,
.dog-show-health,
.dog-show-application {
  margin-bottom: 50px;
}
.profile-text,
.health-text,
.condition-text {
  width: 60%;
  margin: auto;
  text-align: center;
  border: dotted 1px black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}
.dog-show-skill,
.dog-show-health,
.dog-show-application {
  h2 {
    margin-bottom: 20px;
  }
}
.skill,
.health,
.application {
  text-align: center;
  width: 80%;
  margin: 0auto;
  border: dotted 1px black;
  border-radius: 50%;
  padding: 10px;
}
.dog-posts {
  margin-bottom: 50px;
}
.dog-show-protector {
  border: dotted 1px black;
}
.dog-protector {
  display: flex;
}
.dog-show-protector {
  width: 80%;
  margin: auto;
}
.dog-show-protector-info {
  padding: 5px 20px 5px 20px;
}
.dog-post-link {
  text-align: center;
}
.dog-post-top {
  margin-bottom: 20px;
}
.fa-camera-retro {
  color: black;
}
.post-image {
  margin-bottom: 30px;
}
/*dog new edit */
.dogs-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
}
.dog-new,
.dog-edit {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.dog-button,
.post-button {
  text-align: center;
}
.dog-edit {
  .field {
    border-bottom: dotted 2px black;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
/* post new */
.posts-container {
  width: 50%;
  margin: 0 auto;
}
.post-new {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
}
.post-field {
  margin-bottom: 20px;
  label {
    display: none;
  }
  textarea {
    width: 100%;
    height: 100px;
  }
}
.post-image-file {
  input {
    overflow: hidden;
  }
}
/*post show*/
.modal-dialog,
.modal-content {
  margin-top: 100px;
}
.modal-container {
  padding-left: 0;
  overflow: scroll;
}
.post-modal {
  padding-top: 10px;
}
.post-modal-content {
  padding-top: 50px;
}
.fa-trash-alt {
  color: black;
}
