<% provide(:title, "ユーザー登録") %>
<div class="devise">
  <div class="devise-container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="sign-up">
      <h3>登録（一般の方）</h3>
      <%= render "users/registrations/signup_form" %>
    </div>
    <div class="sign-link">
      <p>アカウントをお持ちですか？</p>
      <%= link_to "ログインする",new_user_session_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
</div>
